<app-navbar></app-navbar>
<main id="main">
  <!-- about page -->
  <section class="about py-5" id="about">
    <div class="container">
      <div class="row text-lg-start text-center py-5">
        <div class="col-lg-6 d-flex flex-wrap goRight">
          <div class="col-6 p-2">
            <img
              class="img-fluid rounded-3"
              src="./assets/images/aboutus1.jpg"
              alt=""
            />
          </div>
          <div class="col-6">
            <div class="col-12 p-2">
              <img
                class="img-fluid rounded-end"
                src="./assets/images/aboutus2.jpg"
                alt=""
              />
            </div>
            <div class="col-12 p-2 mt-2">
              <img
                class="img-fluid rounded-end"
                src="./assets/images/aboutus3.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-6 p-2 mt-2">
            <img
              class="img-fluid rounded-3"
              src="./assets/images/aboutus4.jpg"
              alt=""
            />
          </div>
          <div class="col-6 p-2 mt-2">
            <img
              class="img-fluid rounded-end"
              src="./assets/images/aboutus5.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="col-lg-6 aboutText mt-2">
          <h2 class="fs-1 goLeft">WHO ARE WE ?</h2>
          <div class="goLeft">
            <p class="mb-4">
              Welcome to Travella, where we believe that travel is not just
              about reaching a destination; it's about embarking on a
              transformative journey of discovery.
            </p>
            <p class="mb-4">
              As a premier travel company, we are dedicated to redefining the
              way you experience the world. At Travella, we understand that
              every traveler is unique, and that's why we go above and beyond to
              curate personalized experiences tailored to your individual
              preferences and desires.
            </p>
            <p class="mb-4">
              Whether you're seeking a luxurious beach retreat, an adventurous
              expedition into the heart of nature, or a culturally immersive
              exploration of ancient civilizations, we have the expertise and
              passion to bring your dreams to life.
            </p>
            <p class="mb-4">
              Our team of seasoned travel experts is committed to providing
              unparalleled service, from the moment you first reach out to us to
              the instant you return home with memories to last a lifetime.
            </p>
            <p>
              With our extensive network of trusted partners and insider
              knowledge, we ensure that every aspect of your journey is
              meticulously planned and flawlessly executed. Let Travella be your
              compass as you navigate the wonders of the world, and embark on a
              journey that will ignite your imagination and feed your soul. Your
              adventure starts here..
            </p>
          </div>
        </div>
      </div>
      <div class="row py-4 whyUs">
        <div class="col-12 whyText">
          <h1 class="fs-1 px-2">Why Work With US?</h1>
          <h5>Incomparable Experts in the Travel Industry</h5>
        </div>
        <div class="col-12 d-flex flex-wrap py-4 oneToFive">
          <div
            class="one d-flex flex-wrap text-lg-start text-center align-items-center py-3"
          >
            <div class="col-lg-5 order-lg-1 order-2">
              <img
                class="img-fluid rounded-5"
                src="./assets/images/whyus1.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-7 px-lg-5 order-lg-2 order-1">
              <h2>1 - INTERNATIONAL OFFICES</h2>
              <p>
                Travella professional operational staff serves all needs,
                together with its international presence in Egypt, UAE, Jordan,
                Qatar, Morocco, Zanzibar, and Oman. It is capable of serving
                international travel partners and Tour operators with tailored
                travel solutions in the region.
              </p>
            </div>
          </div>
          <div
            class="two d-flex flex-wrap text-lg-start text-center align-items-center py-3"
          >
            <div class="col-lg-7 px-lg-5">
              <h2>2 - TECHNOLOGY</h2>
              <p>
                Travella provides its partners with the latest technology
                through onboard juniper software in all its offices through XML
                integration. Additional to, we are connected to various
                platforms such as PeakWork, TraSo , Anixe, XML Travelgate and
                many others.
              </p>
            </div>
            <div class="col-lg-5">
              <img
                class="img-fluid rounded-5"
                src="./assets/images/whyus2.jpg"
                alt=""
              />
            </div>
          </div>
          <div
            class="three d-flex flex-wrap text-lg-start text-center align-items-center py-3"
          >
            <div class="col-lg-5 order-lg-1 order-2">
              <img
                class="img-fluid rounded-5"
                src="./assets/images/whyus3.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-7 px-lg-5 order-lg-2 order-1">
              <h2>3 - BRANCHES</h2>
              <p>
                Our branches located in Egypt in Cairo, Hurghada, Makadi, Marsa
                Alam, Sharm El Sheikh, Taba, Aswan, Luxor, Alexandria and Marsa
                Matruh.
              </p>
            </div>
          </div>
          <div
            class="four d-flex flex-wrap text-lg-start text-center align-items-center py-3"
          >
            <div class="col-lg-7 px-lg-5">
              <h2>4 - NETWORK</h2>
              <p>
                Our strong network of local and international partners
                guarantees the finest, most innovative and affordable services
                in the Market.
              </p>
            </div>
            <div class="col-lg-5">
              <img
                class="img-fluid rounded-5"
                src="./assets/images/whyus4.jpg"
                alt=""
              />
            </div>
          </div>
          <div
            class="five d-flex flex-wrap text-lg-start text-center align-items-center py-3"
          >
            <div class="col-lg-5">
              <img
                class="img-fluid rounded-5 order-lg-1 order-2"
                src="./assets/images/whyus5.jpg"
                alt=""
              />
            </div>
            <div class="col-lg-7 px-lg-5 order-lg-2 order-1">
              <h2>5 - LARGEST PORTFOLIO</h2>
              <p>
                Travella owns the largest portfolio of hotels & resorts, fleet
                of transportation and cruises in the Middle East; all powered by
                the destination management company and has won many prestigious
                travel industry awards including the World Travel Award for 23
                consecutive years.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of about page -->
</main>
<app-footer></app-footer>
