/* animation */
.goRight{
  animation-name: goRight;
  animation-duration:1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes goRight {
  0%{
    transform: translateX(-800px);
  }
  100%{
    transform: translateX(0);
  }
}
.goLeft{
  animation-name: goLeft;
  animation-duration:1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes goLeft {
  0%{
    transform: translateX(800px);
  }
  100%{
    transform: translateX(0);
  }
}
.goTop{
  animation-name: goTop;
  animation-duration:1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes goTop {
  0%{
    transform: translateY(800px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.goBottom{
  animation-name: goBottom;
  animation-duration:1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes goBottom {
  0%{
    transform: translateY(-800px);
  }
  100%{
    transform: translateY(0);
  }
}
