<admin-navbar></admin-navbar>
<main id="main">
  <section class="adminList py-5" id="adminList">
    <div class="container">
      <div class="row text-center">
        <h2 class="text-start mb-3 px-2">Admin list</h2>
        <div class="col-lg-6 mt-4" *ngFor="let admin of admins">
          <div class="card" style="width: 100%">
            <img src="{{ admin.image }}" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title mb-5">{{ admin.name }}</h5>
              <div class="btnss d-flex justify-content-around">
                <a
                  href="#"
                  class="btn btn-primary col-4 edit"
                  routerLink="/admin/admins/edit/{{ admin.id }}"
                  >Edit</a
                >
                <a
                  (click)="remove(admin.id)"
                  class="btn btn-primary col-4 delete"
                  >Delete</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
